
\.vscode/

CMakeFiles/

include/

lib/

cmake_install\.cmake

CMakeCache\.txt

install_manifest\.txt

Makefile

test\.dot\.test_main

test\.dot\.test_main\.dependers

test\.dot\.uS

test\.dot\.uS\.dependers

test\.dot\.uWS

test\.dot\.uWS\.dependers

test\.dot\.uWSs

test\.dot\.uWSs\.dependers

test_main
